
<html>
<head>
    <title>Carcassonne Helper</title>
    <style>
        body {
            max-width: 600px;
            margin-left: auto;
            margin-right: auto;
        }

        td {
            text-align: center;
        }

        p.instructions {
            color: #444;
            font-style: italic;
        }

        p.footer {
            font-size: 0.8em;
        }
    </style>

    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="~/Scripts/carcassonne.js"></script>

</head>
<body>
    <h1>Carcassonne Helper</h1>
    <table border="1">
        <tbody>
            <tr>
                <td>
                    <img src="~/img/city4.png" width="90" height="90" alt="city4">
                    <p><span>1</span> / 1</p>
                </td>

                <td>
                    <img src="~/img/road4.png" width="90" height="90" alt="road4">
                    <p><span>1</span> / 1</p>
                </td>

                <td>
                    <img src="~/img/city3.png" width="90" height="90" alt="city3">
                    <p><span>3</span> / 3</p>
                </td>

                <td>
                    <img src="~/img/city3s.png" width="90" height="90" alt="city3s">
                    <p><span>1</span> / 1</p>
                </td>
            </tr>
            <tr>
                <td>
                    <img src="~/img/city3r.png" width="90" height="90" alt="city3r">
                    <p><span>1</span> / 1</p>
                </td>
                <td>
                    <img src="~/img/city3sr.png" width="90" height="90" alt="city3sr">
                    <p><span>2</span> / 2</p>
                </td>
                <td>
                    <img src="~/img/road3.png" width="90" height="90" alt="road3">
                    <p><span>4</span> / 4</p>
                </td>
                <td>
                    <img src="~/img/city2we.png" width="90" height="90" alt="city2we">
                    <p><span>1</span> / 1</p>
                </td>
            </tr>
            <tr>
                <td>
                    <img src="~/img/city2wes.png" width="90" height="90" alt="city2wes">
                    <p><span>2</span> / 2</p>
                </td>

                <td>
                    <img src="~/img/road2ns.png" width="90" height="90" alt="road2ns">
                    <p><span>8</span> / 8</p>
                </td>

                <td>
                    <img src="~/img/city2nw.png" width="90" height="90" alt="city2nw">
                    <p><span>3</span> / 3</p>
                </td>
                <td>
                    <img src="~/img/city2nws.png" width="90" height="90" alt="city2nws">
                    <p><span>2</span> / 2</p>
                </td>
            <tr>
                <td>
                    <img src="~/img/city2nwr.png" width="90" height="90" alt="city2nwr">
                    <p><span>3</span> / 3</p>
                </td>

                <td>
                    <img src="~/img/city2nwsr.png" width="90" height="90" alt="city2nwsr">
                    <p><span>2</span> / 2</p>
                </td>

                <td>
                    <img src="~/img/road2sw.png" width="90" height="90" alt="road2sw">
                    <p><span>9</span> / 9</p>
                </td>

                <td>
                    <img src="~/img/city11ne.png" width="90" height="90" alt="city11ne">
                    <p><span>2</span> / 2</p>
                </td>
            </tr>
            <tr>
                <td>
                    <img src="~/img/city11we.png" width="90" height="90" alt="city11we">
                    <p><span>3</span> / 3</p>
                </td>
                <td>
                    <img src="~/img/cloisterr.png" width="90" height="90" alt="cloisterr">
                    <p><span>2</span> / 2</p>
                </td>
                <td>
                    <img src="~/img/cloister.png" width="90" height="90" alt="cloister">
                    <p><span>4</span> / 4</p>
                </td>
                <td>
                    <img src="~/img/city1.png" width="90" height="90" alt="city1">
                    <p><span>5</span> / 5</p>
                </td>
            </tr>
            <tr>
                <td>
                    <img src="~/img/city1rse.png" width="90" height="90" alt="city1rse">
                    <p><span>3</span> / 3</p>
                </td>

                <td>
                    <img src="~/img/city1rsw.png" width="90" height="90" alt="city1rsw">
                    <p><span>3</span> / 3</p>
                </td>
                <td>
                    <img src="~/img/city1rswe.png" width="90" height="90" alt="city1rswe">
                    <p><span>3</span> / 3</p>
                </td>
                <td>
                    <img src="~/img/city1rwe.png" width="90" height="90" alt="city1rwe">
                    <p><span>3</span> / 3</p>
                </td>
            </tr>
        </tbody>
    </table>
    <div>
        <button onclick="UndoClick()" id="button_undo" type="button"><div><span id="total">72</span> titles remain</div>Undo Click</button>
    </div>
</body>
</html>

